<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<section class="shopping-cart">
        <div class="details" style="margin-top: 3rem">
            <div class="row">
              <div class="col-sm-4">
                <div class="card app-card">
                  <div class="card-body">
                    <h5
                      style="font-size: medium; font-weight: bold"
                      class="card-title"
                    >
                      <i class="fas fa-hand-holding-usd mr-2" style="color: seagreen;"></i> My Active Funds
                    </h5>
                    <p style="font-size: 35px; margin-top: 30px; ">dsda</p>
                    <p class="card-text">
                      <!-- {{ fund.category?.name }} <br />
                      {{ fund.category?.description }} -->
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card app-card">
                  <div class="card-body">
                    <h5
                      style="font-size: medium; font-weight: bold"
                      class="card-title"
                    >
                      <i class="fas fa-history mr-2" style="color: sandybrown;"></i> My pending Funds
                    </h5>
                    <p style="font-size: 35px; margin-top: 30px;">dasda</p>
                    <p class="card-text">
                      <!-- {{ daysLeft }} -->
                    </p>
                    <p class="card-text">
                      <!-- {{ fund.userProfile?.fullName }} expect to complete this fund at
                      {{ fund?.targetDate }} -->
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card app-card">
                  <div class="card-body">
                    <div>
                      <h5
                        style="font-size: medium; font-weight: bold"
                        class="card-title"
                      >
                        <i class="fas fa-times mr-2 " style="color: red;"></i>My Cancled Funds
                      </h5>
                      <p style="font-size: 35px; margin-top: 30px;">asdasd</p>
                      <!-- <p class="card-text text-info">Rs. {{ fund.targetAmount }}</p> -->
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
      
            
        </div>
    
        <div class="details" style="margin-top: 3rem">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card app-card" [routerLink]="['/fund-categaries']">
                      <div class="card-body">
                        <div class="text-center">
                            
                                <!-- <i class="fas fa-bars mr-2 fa-5x" style="color: red;"></i> -->
                                <span style="font-size: 65px; color: rgb(167, 110, 25);">
                                    <i class="fas fa-bars"></i>
                                </span>
                            
                          <h5 
                            style="font-size: medium; font-weight: bold"
                            class="card-title mt-2"
                          >
                            Fund Categories
                          </h5>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card app-card">
                      <div class="card-body">
                        <div class="text-center">
                            
                                <!-- <i class="fas fa-users mr-2 fa-5x" style="color: red;"></i> -->
                                <span style="font-size: 65px; color: rgb(27, 134, 177);">
                                    <i class="fas fa-users"></i>
                                </span>
                            
                          <h5
                            style="font-size: medium; font-weight: bold"
                            class="card-title mt-2"
                          >
                            Users
                          </h5>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card app-card" [routerLink]="['/funds']">
                      <div class="card-body">
                        <div class="text-center">
                            
                                <!-- <i class="fas fa-hand-holding-usd mr-2 fa-5x" style="color: red;"></i> -->
                                <span style="font-size: 65px; color: rgb(172, 169, 27);">
                                    <i class="fas fa-hand-holding-usd"></i>
                                </span>
                            
                          <h5
                            style="font-size: medium; font-weight: bold"
                            class="card-title mt-2"
                          >
                            Fund Requests
                          </h5>
                        </div>
                       
                      </div>
                    </div>
                  </div>
              <div class="col-sm-3">
                <div class="card app-card">
                  <div class="card-body">
                    <div class="text-center">
                        
                            <!-- <i class="fas fa-donate mr-2 fa-4x" style="color: rgb(55, 177, 116);"></i> -->
                            <span style="font-size: 65px; color: rgb(23, 153, 120);">
                                <i class="fas fa-donate"></i>
                            </span>
                        
                      <h5
                        style="font-size: medium; font-weight: bold"
                        class="card-title mt-2"
                      >
                        Donations
                      </h5>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
      
            
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header text-center"><b>My Funds</b></div>
                <div class="card-body">
                  <div class="row">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Title</th>
                          <th scope="col">Status</th>
                          <th scope="col">Target Amount</th>
                          <th scope="col">Target Date</th>
                          <th scope="col">Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          
                        >
                          <!-- <th scope="row">1</th> -->
                          <td>sfsdf</td>
                         
                          <td>asdasd</td>
                          <td>asdas</td>
                          <td>sfdasf</td>
                        </tr>
                      </tbody>
                      <br />
                      
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>

