<!-- side-bar section starts -->
<div class="side-bar" [ngClass]="{ active: isActive }">
  <div
    id="close-side-bar"
    (click)="handleSlider(false)"
    class="fas fa-times"
  ></div>

  <div class="user">
    <img src="{{ avatar }}" alt="" />
    <h3>{{ loggedUser?.name }}</h3>
    <a href="#" *ngIf="isUserLoggedIn" (click)="logout()">log out</a>
    <a
      href="#"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      *ngIf="!isUserLoggedIn"
      (click)="handleSlider(false)"
      >Log in</a
    >
  </div>

  <nav class="navbar">
    <a href="home.html"> <i class="fas fa-angle-right"></i> home </a>
    <a href="about.html"> <i class="fas fa-angle-right"></i> about </a>
    <a href="products.html"> <i class="fas fa-angle-right"></i> products </a>
    <a href="contact.html"> <i class="fas fa-angle-right"></i> contact </a>
    <a href="login.html"> <i class="fas fa-angle-right"></i> login </a>
    <a href="register.html"> <i class="fas fa-angle-right"></i> register </a>
    <a href="cart.html"> <i class="fas fa-angle-right"></i> cart </a>
  </nav>
</div>
<!-- side-bar section ends -->
