<!-- side-bar section starts -->
<div class="side-bar" [ngClass]="{ active: isActive }">
  <div
    id="close-side-bar"
    (click)="handleSlider(false)"
    class="fas fa-times"
  ></div>

  <div class="user">
    <img src="{{ avatar }}" alt="" />
    <h3>{{ loggedUser?.name }}</h3>
    <a href="#" *ngIf="isUserLoggedIn" (click)="logout()">log out</a>
    <a
      href="#"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      *ngIf="!isUserLoggedIn"
      (click)="handleSlider(false)"
      >Log in</a
    >
  </div>

  <nav class="navbar">
    <div *ngIf="role == 'site-admin'; else elseBlock">  
	
      <a [routerLink]="['/admin-dashboard']"  (click)="handleSlider(false)"> <i class="fas fa-angle-right" ></i> DashBoard </a>
      <a [routerLink]="['/fund-categaries']"  (click)="handleSlider(false)"> <i class="fas fa-angle-right" ></i> Fund Category </a>
      <a [routerLink]="['/funds']"  (click)="handleSlider(false)"> <i class="fas fa-angle-right" ></i> Funds </a>
        
      </div>  
        
      <ng-template #elseBlock>  
        
        <a [routerLink]="['/donation-dashboard']" (click)="handleSlider(false)"> <i class="fas fa-angle-right" ></i> Home </a>
        <a [routerLink]="['/my-fund']" (click)="handleSlider(false)"> <i class="fas fa-angle-right"></i> My Funds </a>
        <a [routerLink]="['/add-donation']" (click)="handleSlider(false)"> <i class="fas fa-angle-right"></i> New Fund </a>
        <a [routerLink]="['/my-donation']" (click)="handleSlider(false)"> <i class="fas fa-angle-right"></i> My Donations </a>
        
      </ng-template> 

  </nav>
</div>

