<section class="register">
    <form [formGroup]="registrationForm">
        <h3>register now</h3>
        <input type="text" name="" placeholder="enter your name" id="" class="box" formControlName="name">
        <input type="email" name="" placeholder="enter your email" id="" class="box" formControlName="email">
        <input type="text" name="" placeholder="enter your contact number" id="" class="box" formControlName="contact">
        <input type="text" name="" placeholder="enter your address" id="" class="box" formControlName="address">
        <input type="date" name="" placeholder="enter your dob" id="" class="box" formControlName="dob">
        <input type="file" (change)="upload($event)" class="box">
        <input type="password" name="" placeholder="enter your password" id="" class="box" formControlName="password">
        <input type="button" (click)="register()"  value="register now" class="app-btn">
        <p>already have an account?</p>
        <input type="button" (click)="btn_login()" value="login now" class="app-btn link">
    </form>
</section>

